// NOTE: Added element here to fix specificity issue fighting with purecss
fieldset.admin-question {
  border-color: $border-color;
  border-width: $border-width;
  border-radius: $border-radius;
  border-style: solid;
  padding: 0;
  background-color: $catskill-white;
  margin-bottom: $margin-lg;
  &.-is-over {
    background: yellow;
    &.-cannot-drop {
      background: red;
    }
  }
  > header {
    @include admin-header();
  }
  > div {
    padding: $padding-xl;
    textarea {
      min-width: 50%;
      min-height: 10rem;
    }
  }
  .choices-container {
    background: $concrete;
    padding: $margin-xl;
    > .add-choice-btn {
      margin: $margin-lg;
    }
    .add-metadata-btn {
      margin-left: $margin-lg;
    }

    .add-field {
      text-align: center;
    }

    .delete {
      color: red;
    }

    .controls {
      color: red;
    }
  }
}

.hide {
  display: none;
}
