// NOTE: Added element here to fix specificity issue fighting with purecss
fieldset.admin-question {
  border-color: $border-color;
  border-width: $border-width;
  border-radius: $border-radius;
  border-style: solid;
  padding: 0;
  background-color: $catskill-white;
  margin-bottom: $margin-lg;
  > header {
    @include admin-header();
  }
  > div {
    padding: $padding-xl;
    textarea {
      min-width: 50%;
      min-height: 10rem;
    }
  }
}

.hide {
  display: none;
}
