.question-widget {
  > .content {
    color: $subtle-text-color;
  }

  .multiselect {
    // Multiselect
    input[type=checkbox] {
        display:none;
    }

    input[type=checkbox] + label {
      background: lightgrey;
      display: inline-block;
      padding: 1rem;
    }

    input[type=checkbox]:checked + label {
      background: darkgrey;
    }
  }

  .checkboxes {
    /* Checkboxes
    input[type=checkbox] {
        display:none;
    }

    input[type=checkbox] + label {
      background: lightgrey;
      display: inline-block;
      padding: 1rem;
    }

    input[type=checkbox]:checked + label {
      background: darkgrey;
    } */
  }


  // Radio
  input[type=radio] {
      display:none;
  }

  input[type=radio] + label {
    background: lightgrey;
    display: inline-block;
    padding: 1rem;
  }

  input[type=radio]:checked + label {
    background: darkgrey;
  }
}
