// Colors
$catskill-white: #f9fbfc;
$concrete: #f3f3f3;
$lochmara: #008ccc;
$link-water: #e9f3f9;

// Usages
$border-color: $concrete;
$button-text-color: $lochmara;
$button-background-color: $link-water;
