.pure-button > i {
  margin-right: .25rem;
}

// This should only have imports :)
//
// Inverted triangle for the import order
//
// Here's what Inverted Triangle CSS is:
// - https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/

// == SETTINGS ==
@import "settings.colors";
@import "settings.metrics";
@import "settings.global";

// == TOOLS ==
@import "tools.mixins";

// == GENERIC ==
@import "generic.purecss";

@import "typography";

// @import "elements.headings";
//
// @import "objects.animations";
//
// @import "components.404";
@import "components/alert-box";
@import "components/admin-question";
@import "components/question-widget";
@import "components/boolean-question";

// FIXME: Temp
#administer-form {
  margin: 1rem;
}

@import "utilities/has-error";
// @import "trumps.clearfix";
// @import "trumps.utilities";
//
// @import "healthcheck";
